form {
  width: 50vw;
  margin: 30px auto;
  margin-left: 490px;
  background-color: antiquewhite;
  border: 10px groove;
}

table {
  margin-left: 12vw;
}

form input {
  margin-bottom: 5px;
}

form input[type = "button"] {
  margin-right: 10px;
}

.data {
  background-color: rgba(178, 174, 168, 0.274);
}

.data:hover {
  background-color: rgba(178, 174, 168, 0.274);
}